<!DOCTYPE html>
<html>
    <head>
        <title>Patrick Allen</title>
        <link href='https://fonts.googleapis.com/css?family=Roboto:400,700,700italic,400italic,300' rel='stylesheet' type='text/css'>
        <link rel="stylesheet" href="/{{ THEME_STATIC_DIR }}/css/{{ CSS_FILE }}" />
    </head>
    <body>
        <header class="navigation">
            <div class="brand">
                <a href="/">Pat Allen</a>
            </div>
            <ul class="navbar">
            {% for page in PAGES %}
            <li><a href="{{ page.url }}">{{ page.title.upper() }}</a></li>
            {% endfor %}
            </ul>
        </header>
        {% block content %}
        {% endblock %}
        <footer>
        </footer>
    </body>
</html>
