<!DOCTYPE html>
<html>
    <head>
        <title>Patrick Allen</title>
    </head>
    <body>
        <header class="navigation">
            <ul class="navbar">
                <li><a href="/">HOME</a></li>
                <li><a href="/contact">CONTACT</a></li>
                <li><a href="/about">ABOUT ME</a></li>
                <li><a href="">PORTFOLIO</a></li>
                <li><a href="">BLOG</a></li>
            </ul>
        </header>
        {% block content %}
        {% endblock %}
        <footer>
        </footer>
    </body>
</html>
